html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* stack header (logo) on top, content below */
    align-items: center;    /* center children horizontally */
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10px;
}

.header {
    display: flex;
    padding: 10px 10px;
    gap: 7px;
    margin: 0;
}

.img{
    width: 375px;
}

.user-avatar {
    width: 32px;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 375px;
    height: 67px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c6c6;
}
.logo {
    width: 137px;
    height: 60px;
    padding-left: 15px;
}


.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
    margin-bottom: 2px;
    font-size: 13px;
}

.location {
    font-family: "Source Sans 3", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.control-bar img{
    width: 24px;
    height: 24px;
    margin-right: 3px;
    margin-top: 14px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.container {
    padding-left: 8px;
}

.container p {
    margin: 10px 0px;
}

.username {
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
    margin-top: 0; 
}